.accordion .panel-title {
    margin: 0;
    padding: .75em;
    -webkit-transition: .3s all ease-in-out;
     -moz-transition: .3s all ease-in-out;
       -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    background: #EFEFEF;
    color: #333333;
}
.accordion .panel-title:hover {
    background: #CCC;
}
.accordion .panel-title:active,
.accordion .panel-title.active:active {
    background: #999;
}
.accordion .panel-title.active {
    background: #CCC;
}
.accordion .accordion-innerwrap {
	margin: 0; 
	padding: 0;
    width: 90%;
}

.accordion .panel-title .icon,
.accordion .panel-title.active .icon {
    font-size: 1.25em;
}

.panel-container {

}

.panel-content {
    list-style-type: none;
 
 

    color: #EFEFEF;
}
.panel-content li {
    border-bottom: 1px dotted #AAA;
    padding: .75em;
}
.panel-content li:last-child {
    border-bottom: none;
    padding-bottom: none;
}

.js .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.js .visuallyhidden.focusable,
.js .visuallyhidden.focusable,
.no-js .visuallyhidden {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.js .visuallyhidden.focusable:active,
.js .visuallyhidden.focusable:focus,
.no-js .visuallyhidden {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
 
    width: auto;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.list-reset {
    padding: 0;
    list-style: none;
}