.myButton {
  background-color: #4d90fe;
  background-image: linear-gradient(top, #e97171, #d14545);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 0 1px 0 rgba(0,0,0,.5);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;    
  border: 1px solid #26487E;
  height: 30px;
  padding: 7px 10px 10px 10px;
  margin-left: 10px;
  cursor: pointer;
  font: bold 12px;
  color: #fff;
}