.layer_wrapper {
	width: 950px;
	margin: 0 auto;
	background-color: white;
	padding: 30px 0px 60px 0px;
}

.layer_title{
font-size:25px;
padding-left: 30px;
color:#4d90fe;
}
.layer_content{
text-align: center;
margin:0 auto;
}

.layer_submit{
padding: 0 30px 0 0 ;
float:right;
}